body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background: #f6f8fa;
    height: 82.9vh; /* Pełna wysokość widoku */
    margin: 0;    /* Usuń marginesy */
    padding: 0;   /* Usuń padding */
    display: flex;

}

.trzymacz{
    position: absolute;
    display: flex;
    margin-left:auto;
    margin-right:auto;
    top: 10%;
    left: 55%;
    transform: translateX(-50%);  

}

#map{
    border-radius:20px ;
    border-color: black;
    border-style: solid;
    display: block;
}




