.add {
    color: var(--reverse-font-color);
    width: 60%;
    height: 30px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: lime;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.add img{
    width: 5%;
    height: auto;
}

.edit {
    color: var(--reverse-font-color);
    width: 60%;
    height: 30px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: gray;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

}

.remove {
    color: var(--reverse-font-color);
    width: 60%;
    height: 30px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: red;
    margin: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;

}

.rozwin{
    display: none;
}

.table {
    width: 60%;
    height: 30px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: var(--button-color);
    color: var(--reverse-font-color);
    margin: 10px;
    text-align: center;
    font-weight: bold;
}

.table:hover{
    transform: scale(1.05);
    background-color: var(--button-color);
    filter: brightness(0.8); 

}

.remove:hover{
    transform: scale(1.05);
}

.add:hover{
    transform: scale(1.05);
}

.edit:hover{
    transform: scale(1.05);
}

.sigmna-container{
    width: 50%;
    height: 30px;
    background-color: aqua;
    margin: 10px;
    border-radius: 10px;
}

