@import 'style.css';

.info{
    font-size: 32px;
    background-color: var(--mortadelka-color);
    width: 1200px;
    height: 80px;
    margin: auto;
    padding: auto;
    border-radius: 10px;
    padding-top: 30px;
}

.info:hover{
    transform: scale(1.05);
}