.container1 {
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 30px;
    color: #444;
    font-size: 24px;
    font-weight: bold;
}

.profile-info {
    gap: 15px;
    display: flex;
    flex-direction: column; /* Ustawienie każdego wiersza pod sobą */
    align-items: flex-start; /* Wyrównanie do lewej */
}

.profile-info p {
    display: flex;
    justify-content: flex-start; /* Rozpocznij każdy element od lewej */
    align-items: center; /* Wyrównanie elementów w pionie */
    margin: 10px 0; /* Odstęp między wierszami */
    width: 100%; /* Dopasowanie do szerokości */
    gap: 70px;
}

.profile-info strong {
    min-width: 150px; /* Stała szerokość dla etykiet */
    margin-right: 10px; /* Odstęp między etykietą a treścią */
    text-align: left; /* Wyrównanie tekstu */
}
.profile-detail {
    margin-left: 10px; /* Dodanie odstępu od etykiety */
}
.span {
    position: relative;
    left: 10px;
}
#password-display {
    margin-right: 10px; /* Odstęp między gwiazdkami a ikoną */
}

button.change-button {
    margin-left: auto; /* Przenieś przycisk zmiany na koniec wiersza */
}

#toggle-password {
    margin-left: 10px; /* Odstęp między gwiazdkami a ikoną oka */
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.logout-button {
    display: block;
    width: calc(100% - 40px); /* Szerokość z marginesem */
    margin: 20px auto; /* Margines górny i dolny */
    padding: 10px;
    background-color: #ff4757;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-button {
    display: block;
    width: calc(100% - 40px); /* Szerokość z marginesem */
    margin: 20px auto; /* Margines górny i dolny */
    padding: 10px;
    background-color: #000000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #e84118;
}

.profile-box {
    border: 1px solid #ccc; /* Kolor i styl ramki */
    border-radius: 5px; /* Zaokrąglenie rogów */
    padding: 20px; /* Padding wewnętrzny */
    margin: 20px 0; /* Margines górny i dolny */
    background-color: #f9f9f9; /* Kolor tła ramki */
}