.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-bottom: 30px;
    color: #444;
    font-size: 24px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 80px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button.change-button {
    display: inline-block;
    width: 60px;
    margin-left: 5px;
    padding: 10px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

button.change-button:hover {
    background-color: #2980b9;
}

.password-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.password-container input[type="password"] {
    flex-grow: 1;
}

.eye-icon {
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #888;
    transition: color 0.3s ease;
}

.eye-icon:hover {
    color: #444;
}

.logout-button {
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #ff4757;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logout-button:hover {
    background-color: #e84118;
}
