body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    background: #f6f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 82.9vh; /* Pełna wysokość widoku */
    margin: 0;    /* Usuń marginesy */
    padding: 0;   /* Usuń padding */
}

.img {
    position: relative;
    margin: 0;
    padding: 0;
}

img {
    display: block; /* Usuń dodatkowy odstęp wokół obrazka */
}

#red-object {
    width: 1000px;
    height: 1000px;
    background-color: red;
    position: absolute;

}

#red-object.active {
    display: block; /* Widoczny, gdy aktywowany */
}

