.center1 {
    margin: auto;
    text-align: center;
    margin-top: 0px;
}

.czcionka {
    font-size: 36px;
}


.section {
    background: #f6f8fa;
    display: flex;
    height: 83.9vh; /* Pełna wysokość widoku */
    margin: auto;    /* Usuń marginesy */
    padding: auto;   /* Usuń padding */
    text-align: center;
}

.info1 {
    background-color: #24292e;
    width: 1100px;
    height: 100px;
    color: white;
    text-align: center;
    margin: 15px auto;
    border-radius: 10px;
    line-height: 100px; /* Center text vertically */
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out; /* Smooth transition for scaling and font size */
}

.info1:hover {
    transform: scale(1.2); /* Powiększa cały element */
}

.info1 .wypelniacz1 {
    font-size: 25px;
    font-weight: bold;
    transition: transform 0.3s ease-in-out, font-size 0.3s ease-in-out; /* Smooth transition for text inside */
}

.info1:hover .wypelniacz1 {
    font-size: 30px; /* Zwiększa rozmiar czcionki po najechaniu */
}

.info1 a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding-left: 20px;
}

.info1 a:hover {
    font-size: 40px;
    transition: 0.6s;
}

hr {
    border: none;
    background-color: gray;
    height: 1px;
}
