body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1 {
    background: #f6f8fa;
    display: flex;
    align-items: center;
    height: 82.9vh; /* Pełna wysokość widoku */
    margin: 0;    /* Usuń marginesy */
    padding: 0;   /* Usuń padding */
}
