body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section1 {
    background: #f6f8fa;
    display: flex;
    height: 84.9vh; /* Pełna wysokość widoku */
    margin: auto;    /* Usuń marginesy */
    padding: auto;   /* Usuń padding */
    text-align: center;
}
